* { 
    margin: 0; 
    padding: 0; 
}

div {
    width: 200px;
    height: 200px;
    float: left;
}

#div1 {
    background-color: orangered;
}

#div2 {
    background-color: green;
}

#div3 {
    background-color: darkslateblue;
}

